

*:focus{
  outline: red dotted 4px;
  outline-offset: 3px;
}


/*------------------nav-container------------------*/

nav{
  /* background-color: rgb(248, 240, 240); */

}
.nav-container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.nav-logo{

}

.nav-list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.nav-item{
  padding: 0;
  margin: 0;
  margin-right: 30px;
}
.nav-item:last-child{
  margin-right: 0;
}



/*---------x---------nav-container---------x---------*/



/* ---------------------------------General----------------------------- */
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

}
ul{
  margin: 0;
  padding: 0;
}
span{
  margin: 0;
  padding: 0;
}
a{
  text-transform: capitalize;
  text-decoration: none;
  font-family: 'Poppins' , serif;
  font-weight: 300;
  font-size: 18px;
  color: #124112;
}
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.info-heading{
  width: 100%;
  display: flex;
  justify-content: center;

}
.heading{
  text-transform: capitalize;
  font-family: 'Poppins', serif;
  font-weight: 700;
  text-align: center;
  box-shadow: 0 0 18px 0 #0000002c;
  border-radius: 10px;
  padding: 5px 52px;
  /* margin: 30px; */
  transition: box-shadow 0.4s ease;

}
.heading:hover{
  box-shadow: 0 0 5px 0 #0000002c;
}
img{
  display: block;
}

.btn{
  box-shadow: 0 0 18px 0 #0000002c;
  border-radius: 10px;
  box-sizing: border-box;
  /* margin: 30px; */
  transition: box-shadow 0.4s ease;
  padding: 8px 32px;
}

.btn-orange:hover{
  box-shadow: 0 0 5px 0 #0000002c;

}





/* ---------------x------------------General---------------x-------------- */



/*-------------------------------------section----info--------------------------------------*/
.info{
  /* margin-left: 360px; */
  width: 600px;
  margin: 0 auto;

}
.info-link{
  font-family:'Poppins', serif ;
  font-weight: 300;
  padding: 10px;
  display: inline-block;
  transition: box-shadow 0.3s ease;
}
.info-link:hover{
  font-weight: 400;
  box-shadow: 0 0 18px 0 #0000002c;
  border-radius: 10px;

}

.hover{
  display: none;
  transition: color 0.4s ease;
  margin-left: 30px;

}
.info-link:hover .hover{
  display: inline-block;
  color: blueviolet;

}
.info-link{
  text-transform: capitalize;
}

.color{
  color: #5C8692;
  margin: 0;
  margin-left: 16px;
  width: 30px;
  width: 100%;
  padding: 0;
}


/*----------------x---------------------section------------info-----------x--------------------*/